{% extends 'base.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h2 class="my-4">Contactez-nous</h2>
    <p>Vous avez une question ou une suggestion ? N'hésitez pas à nous contacter.</p>
    <p>Envoyez-nous un email à contact@LyonEats.com</p>
    <p>Ou appelez-nous au 01 23 45 67 89</p>
{% endblock %}
