{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2 class="my-4">Bienvenue sur notre site des restaurants de Lyon</h2>
    <p>Découvrez les meilleurs restaurants de Lyon autour de vous.</p>
    <div id="map" style="height: 500px;"></div>
    <ul id="restaurant-list">
        {% for restaurant in restaurants %}
            {% if restaurant is not null %}
                <li>{{ restaurant.name }} - {{ restaurant.address }}</li>
            {% endif %}
        {% endfor %}
    </ul> <!-- Section for restaurant list -->
    <script>
        var restaurants = {{ restaurants|json_encode|raw }};
    </script>
{% endblock %}