{% extends 'base.twig' %}

{% block title %}Restaurants{% endblock %}

{% block content %}
    <h2>Liste des Restaurants</h2>
    <ul>
        <li><a href="index.php?page=restaurant_details&id=1">Restaurant 1</a></li>
        <li><a href="index.php?page=restaurant_details&id=2">Restaurant 2</a></li>
        <li><a href="index.php?page=restaurant_details&id=3">Restaurant 3</a></li>
        <!-- Ajoutez plus de restaurants ici -->
    </ul>
{% endblock %}